<!DOCTYPE html>
<section>
    <div class="flex p-3 block md:hidden">
        <div (click)="goBack()" class="flex flex-row gap-1 text-2xl items-center rounded-full p-2 transition duration-200 ease-in-out bg-gray-200 hover:bg-orange-400 hover:text-white">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 9V5.25A2.25 2.25 0 0 1 10.5 3h6a2.25 2.25 0 0 1 2.25 2.25v13.5A2.25 2.25 0 0 1 16.5 21h-6a2.25 2.25 0 0 1-2.25-2.25V15m-3 0-3-3m0 0 3-3m-3 3H15" />
            </svg>
            <h1>Back</h1>
        </div>
    </div>

    <div class="flex flex-row p-4 gap-8 w-full h-full">
        <div class="flex flex-col gap-5 hidden md:block">
            <div class="flex pb-3">
                <div (click)="goBack()" class="flex flex-row gap-1 text-2xl items-center  rounded-full p-2 transition duration-200 ease-in-out bg-gray-200 hover:bg-orange-400 hover:text-white">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 9V5.25A2.25 2.25 0 0 1 10.5 3h6a2.25 2.25 0 0 1 2.25 2.25v13.5A2.25 2.25 0 0 1 16.5 21h-6a2.25 2.25 0 0 1-2.25-2.25V15m-3 0-3-3m0 0 3-3m-3 3H15" />
                    </svg>
                    <h1>Back</h1>
                </div>

            </div>
           
            <div class="flex flex-col gap-2">
                @for(item of restaurants; track item.id){

                    <app-restaurant-item [restaurantItem]=item></app-restaurant-item>
                    } @empty {
                    <h2 class="flex items-center flex-wrap content-between w-full px-4 py-2 rounded-t-lg  ">No Restaurants to show.</h2>
                    }

            </div>
        </div>
        <div class="h-500 w-px bg-gray-300 mx-4 hidden md:block"></div>
        <div class="flex flex-col w-full h-full sticky top-36 overflow-hidden">
            <div>
                <div id="map" style="height:800px; width:100%;" ></div>
                
            </div>

        </div>
    </div>

</section>


